# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle

# CocoaPods
/ios/Pods/
android/gradle.properties
android/app/private_key.pepk
AppIcons/appstore.png
AppIcons/featuregraphic.png
AppIcons/playstore.png
AppIcons/android/mipmap-hdpi/ic_launcher.png
AppIcons/android/mipmap-mdpi/ic_launcher.png
AppIcons/android/mipmap-xhdpi/ic_launcher.png
AppIcons/android/mipmap-xxhdpi/ic_launcher.png
AppIcons/android/mipmap-xxxhdpi/ic_launcher.png
AppIcons/Assets.xcassets/AppIcon.appiconset/16.png
AppIcons/Assets.xcassets/AppIcon.appiconset/20.png
AppIcons/Assets.xcassets/AppIcon.appiconset/29.png
AppIcons/Assets.xcassets/AppIcon.appiconset/32.png
AppIcons/Assets.xcassets/AppIcon.appiconset/40.png
AppIcons/Assets.xcassets/AppIcon.appiconset/48.png
AppIcons/Assets.xcassets/AppIcon.appiconset/50.png
AppIcons/Assets.xcassets/AppIcon.appiconset/55.png
AppIcons/Assets.xcassets/AppIcon.appiconset/57.png
AppIcons/Assets.xcassets/AppIcon.appiconset/58.png
AppIcons/Assets.xcassets/AppIcon.appiconset/60.png
AppIcons/Assets.xcassets/AppIcon.appiconset/64.png
AppIcons/Assets.xcassets/AppIcon.appiconset/72.png
AppIcons/Assets.xcassets/AppIcon.appiconset/76.png
AppIcons/Assets.xcassets/AppIcon.appiconset/80.png
AppIcons/Assets.xcassets/AppIcon.appiconset/87.png
AppIcons/Assets.xcassets/AppIcon.appiconset/88.png
AppIcons/Assets.xcassets/AppIcon.appiconset/100.png
AppIcons/Assets.xcassets/AppIcon.appiconset/114.png
AppIcons/Assets.xcassets/AppIcon.appiconset/120.png
AppIcons/Assets.xcassets/AppIcon.appiconset/128.png
AppIcons/Assets.xcassets/AppIcon.appiconset/144.png
AppIcons/Assets.xcassets/AppIcon.appiconset/152.png
AppIcons/Assets.xcassets/AppIcon.appiconset/167.png
AppIcons/Assets.xcassets/AppIcon.appiconset/172.png
AppIcons/Assets.xcassets/AppIcon.appiconset/180.png
AppIcons/Assets.xcassets/AppIcon.appiconset/196.png
AppIcons/Assets.xcassets/AppIcon.appiconset/216.png
AppIcons/Assets.xcassets/AppIcon.appiconset/256.png
AppIcons/Assets.xcassets/AppIcon.appiconset/512.png
AppIcons/Assets.xcassets/AppIcon.appiconset/1024.png
android/app/release/app-release.aab
